<div class="container-fluid">
        <div class="col1 col-md-15"><div>My latest Content1</div></div>
        <div class="col2 col-md-15"><div>My friends latest Content2</div></div>
        <div class="col3 col-md-15"><div>Feedly latest Content3</div></div>
        <div class="col4 col-md-15"><div>Feed Content4</div></div>
        <div class="col4 col-md-15"><div>Content5</div></div>
        <div class="col3 col-md-15"><div>Content5.5</div></div>
        <div class="col2 col-md-15"><div>Content6</div></div>
        <div class="col1 col-md-15"><div>Content7</div></div>
        <div class="col1 col-md-15"><div>Content8</div></div>
        <div class="col2 col-md-15"><div>Content9</div></div>
        <div class="col3 col-md-15"><div>Content10</div></div>
        <div class="col4 col-md-15"><div>Content11</div></div>
        <div class="col4 col-md-15"><div>Content12</div></div>
        <div class="col3 col-md-15"><div>Content13</div></div>
        <div class="col2 col-md-15"><div>Content14</div></div>
        <div class="col1 col-md-15"><div>Content15</div></div>
        <div class="col4 col-md-15"><div>Content16</div></div>
        <div class="col3 col-md-15"><div>Content17</div></div>
        <div class="col2 col-md-15"><div>Content18</div></div>
        <div class="col1 col-md-15"><div>Content19</div></div>
        <div class="col4 col-md-15"><div>Content20</div></div>
        <div class="col3 col-md-15"><div>Content21</div></div>
</div>